

main{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
}

header{
    display: flex;
    justify-content: center;
}

#side-panel{
    padding: 1em;    
}

#city-search{
    display: grid;
    grid-template-columns: 1fr;
}

#search-history{
    margin: 2rem, auto;
}

.history-button{
    min-width: 100%;
    margin-top: 1rem;
}

#city-info{
    flex-basis: auto;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

#selected-city{
    border: 2px solid black;
}

#forecast{
    align-self: center;
}

#card-holder{
    border: 2px solid pink;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 20px;
    justify-content: center;
}

.card{
    min-width: 200px;
    border: 1px solid blue;
}